<%= simple_form_for(@list, :url => form_url ) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :private %>
  </div>

	<%= f.simple_fields_for :tasks do |t| %>
		<%= render 'task_fields', :task => t %>		
	<% end %>
	
	<div class="left">
		<%= link_to_add_task (image_tag "add.png"), f, :tasks %>
	</div>
  
	<div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
