<div class="list_box">
	<div class="list_visible">
		<%= image_tag list.private ? "private.png" : "public.png" %>
	</div>
	<div class="list_name">
		<%= list.name %>
	</div>			
	<% if user_signed_in? %>
	<div class="list_actions">		
		<% if is_owner %>
			<%= link_to (image_tag "edit.png"), edit_my_list_path(list) %>
			<%= link_to (image_tag "delete.png"), my_list_path(list), confirm: 'Are you sure?', method: :delete %>
		<% else %>
		  <% if list.has_favorite?(current_user) %>	
				<%= link_to (image_tag "unfollow.png"), unfollow_list_path(list), :method => :post, :title=> 'Unfollow list' %>			
			<% else %>
				<%= link_to (image_tag "follow.png"), follow_list_path(list), :method => :post, :title=> 'Follow list' %>
			<% end %>
		<% end %>
	</div>
	<% end %>
	<div class="list_expand">
		<%= image_tag "down.png" %>
	</div>
</div>